<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card p-4 shadow w-100" style="max-width: 400px;">
    <h2 class="text-center mb-4">Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="email" class="form-label">Usuario prueba6</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control"
          name="username"
        />
        <div class="invalid-feedback" *ngIf="loginForm.get('email')?.errors?.['required']">
          El correo es obligatorio.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
        />
        <div class="invalid-feedback" *ngIf="loginForm.get('password')?.errors?.['required']">
          La contraseña es obligatoria.
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        <div class="text-center mt-3">
          <!-- <a class="text-primary registrar" routerLink="/registro">¿No tienes cuenta? Regístrate aquí</a> -->
        </div>
    </form>
  </div>
</div>
